* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #DDDDDD ;
}

.logo {
width:50px;
  height:50px;
  border-radius:25px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
  display: block;
padding: 15px 15px 15px 20px;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
  }

  .abrir-menu {
      color: #1c1c1c;
  }

  .cerrar-menu {
      color: #ececec;
  }

  .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #0D4F57 ;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
      z-index: 4;
  }

  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  .nav-list {
      flex-direction: column;
      align-items: end;
  }

  .nav-list li a {
      color: #FFFFFF ;
  }
  ul {
      list-style:none;
      margin:0;
      padding:0;
      left: 0;
     }
     ul li {
      background-color:#022E71  ;
 }

}

.menu-vertical{
position: absolute;
display: none;
list-style: none;
width: 200px;
background-color: rgba(0, 0, 0, .5);
z-index: 4;
}
.nav-list li:hover .menu-vertical{
display: block;
}
.menu-vertical li:hover{
background-color: #0b1dc077 ;
}

.menu-vertical li a{
display: block;
color: white;
text-decoration: none;
padding: 15px 15px 15px 20px;
}